USE [master]
GO
/****** Object:  Database [newShamil]    Script Date: 25.05.2021 12:39:53 ******/
CREATE DATABASE [newShamil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'newShamil', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\newShamil.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'newShamil_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\newShamil_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [newShamil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [newShamil]
GO
/****** Object:  Table [dbo].[Prod]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tipe] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Kolich] [nvarchar](50) NOT NULL,
	[Itogo] [int] NOT NULL,
	[Otvet] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Prod_2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prod2]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prod2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tipe] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Kolich] [nvarchar](50) NOT NULL,
	[Itogo] [int] NOT NULL,
 CONSTRAINT [PK_Prod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prod3]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prod3](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tipe] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Kolich] [nvarchar](50) NOT NULL,
	[Itogo] [int] NOT NULL,
	[Otvet] [nvarchar](50) NULL,
 CONSTRAINT [PK_Prod_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Realiz]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realiz](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tipe] [int] NOT NULL,
	[Price] [nchar](10) NOT NULL,
	[Kolich] [nchar](10) NOT NULL,
	[Itogo] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrudniki]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudniki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[IdSpecial] [int] NOT NULL,
 CONSTRAINT [PK_Sotrudniki] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Special]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Special](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Special] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type2]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type2](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluga]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IdType] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Usluga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazi]    Script Date: 25.05.2021 12:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tipe] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Kolich] [nvarchar](50) NOT NULL,
	[Itogo] [int] NOT NULL,
	[Otvet] [nvarchar](50) NOT NULL,
	[Zakazchik] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[Data] [date] NOT NULL,
 CONSTRAINT [PK_Zakazi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prod2] ON 

INSERT [dbo].[Prod2] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo]) VALUES (15, N'Разработка блога', 4, 30000, N'2', 60000)
INSERT [dbo].[Prod2] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo]) VALUES (16, N'Разработка сайтов', 2, 70000, N'3', 210000)
SET IDENTITY_INSERT [dbo].[Prod2] OFF
GO
SET IDENTITY_INSERT [dbo].[Prod3] ON 

INSERT [dbo].[Prod3] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo], [Otvet]) VALUES (3, N'Разработка блога', 4, 30000, N'1', 30000, NULL)
INSERT [dbo].[Prod3] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo], [Otvet]) VALUES (4, N'Доработка готового сайта', 2, 5000, N'1', 5000, NULL)
INSERT [dbo].[Prod3] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo], [Otvet]) VALUES (5, N'Дополнительные услуги', 5, 5000, N'3', 15000, NULL)
SET IDENTITY_INSERT [dbo].[Prod3] OFF
GO
SET IDENTITY_INSERT [dbo].[Realiz] ON 

INSERT [dbo].[Realiz] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo]) VALUES (1, N'Разработка сайта визитки', 0, N'          ', N'          ', N'          ')
INSERT [dbo].[Realiz] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo]) VALUES (2, N'Разработка сайтов', 11, N'11        ', N'11        ', N'11        ')
INSERT [dbo].[Realiz] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo]) VALUES (3, N'Доработка готового сайта', 24, N'24        ', N'24        ', N'24        ')
SET IDENTITY_INSERT [dbo].[Realiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Sotrudniki] ON 

INSERT [dbo].[Sotrudniki] ([Id], [FIO], [Tel], [IdSpecial]) VALUES (2, N'Магомедов Магомед Рамазанович', N'+7(988) 522 32 12', 1)
INSERT [dbo].[Sotrudniki] ([Id], [FIO], [Tel], [IdSpecial]) VALUES (3, N'Иванов Сергей Петрович', N'+7(982) 555 98 75', 2)
INSERT [dbo].[Sotrudniki] ([Id], [FIO], [Tel], [IdSpecial]) VALUES (4, N'Ханбулатов Шамиль Мурадович', N'+7(988) 795 39 97', 9)
SET IDENTITY_INSERT [dbo].[Sotrudniki] OFF
GO
SET IDENTITY_INSERT [dbo].[Special] ON 

INSERT [dbo].[Special] ([Id], [Name]) VALUES (1, N'Программист')
INSERT [dbo].[Special] ([Id], [Name]) VALUES (2, N'Верстальщик')
INSERT [dbo].[Special] ([Id], [Name]) VALUES (3, N'Дизайнер')
SET IDENTITY_INSERT [dbo].[Special] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([Id], [Name]) VALUES (1, N'Дизайнер')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (2, N'Верстальщик')
INSERT [dbo].[Type] ([Id], [Name]) VALUES (3, N'Копирайтер')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
INSERT [dbo].[Type2] ([Id], [Name]) VALUES (1, N'Дизайнер')
INSERT [dbo].[Type2] ([Id], [Name]) VALUES (2, N'Верстальщик')
INSERT [dbo].[Type2] ([Id], [Name]) VALUES (3, N'Копирайтер')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (1, N'shamil', N'shamil')
INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (2, N'1', N'1')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Usluga] ON 

INSERT [dbo].[Usluga] ([Id], [Name], [IdType], [Price]) VALUES (1, N'Разработка блога', 4, 30000)
INSERT [dbo].[Usluga] ([Id], [Name], [IdType], [Price]) VALUES (3, N'Разработка сайтов', 2, 70000)
INSERT [dbo].[Usluga] ([Id], [Name], [IdType], [Price]) VALUES (4, N'Разработка сайта визитки', 1, 50000)
SET IDENTITY_INSERT [dbo].[Usluga] OFF
GO
SET IDENTITY_INSERT [dbo].[Zakazi] ON 

INSERT [dbo].[Zakazi] ([Id], [Name], [Tipe], [Price], [Kolich], [Itogo], [Otvet], [Zakazchik], [Telefon], [Data]) VALUES (4, N'Разработка сайта визитки', 1, 50000, N'2', 100000, N'Ханбулатов Шамиль Мурадович', N'', N'', CAST(N'0001-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Zakazi] OFF
GO
ALTER TABLE [dbo].[Prod]  WITH CHECK ADD  CONSTRAINT [FK_Prod_Type] FOREIGN KEY([Tipe])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Prod] CHECK CONSTRAINT [FK_Prod_Type]
GO
ALTER TABLE [dbo].[Sotrudniki]  WITH CHECK ADD  CONSTRAINT [FK_Sotrudniki_Special] FOREIGN KEY([IdSpecial])
REFERENCES [dbo].[Special] ([Id])
GO
ALTER TABLE [dbo].[Sotrudniki] CHECK CONSTRAINT [FK_Sotrudniki_Special]
GO
ALTER TABLE [dbo].[Usluga]  WITH CHECK ADD  CONSTRAINT [FK_Usluga_Type] FOREIGN KEY([IdType])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Usluga] CHECK CONSTRAINT [FK_Usluga_Type]
GO
USE [master]
GO
